.all-bios {
    max-height: 100vh;
    overflow: scroll;
}

.bios-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.home-btn-2 {
    padding: 0.2rem 1rem 0.2rem 1rem;
    background-color: black;
    color: lightgreen;
    border-radius: .5rem;
    margin-top: -1rem;
}

.home-btn-2:hover {
    background-color: white;
    color: black;
}

.home-btn-2-wrapper {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}