.question-container {
    background: rgb(2,0,36);
    background: linear-gradient(132deg, rgba(2,0,36,0.7497592787114846) 0%, rgba(66,66,66,0.6041010154061625) 100%, rgba(0,212,255,1) 100%);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 3rem;
}

.quiz-option {
    cursor: pointer;
    border-radius: .5rem;
    padding: .5rem;
    margin: 0;
    transition-duration: .2s;
}

.quiz-option:hover {
    background-color: white;
    color: black;
}