.home-btn-3 {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: black;
    color: lightgreen;
    border-radius: .5rem;
    margin-top: -1rem;
}

.home-btn-3:hover {
    background-color: white;
    color: black;
}

.home-btn-3-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}